/* Gaya umum */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #323B58;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    color: white; /* Mengubah warna h1 menjadi putih */
    font-size: 28px;
}

h2 {
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

/* Form input dan tombol */
input {
    width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #800000; /* Maroon */
    background-color: #222945;
    color: white;
}

input::placeholder {
    color: #aaaaaa;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background-color: #800000; /* Maroon */
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: #660000; /* Darker maroon */
}

/* Tabel daftar produk */
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: #222945;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #800000; /* Maroon */
    color: white;
}

th {
    background-color: #800000; /* Maroon */
    color: white;
}

tr:hover {
    background-color: #3a4465;
}

/* Tombol hapus */
.delete-btn {
    background-color: #800000; /* Maroon */
    color: white;
}

.delete-btn:hover {
    background-color: #660000; /* Darker maroon */
}
